
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"> Brand Details</h1>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
             <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
          <div class="card-body">
          <p>
  <strong>Category Name:</strong>
  <%= @brand.name %>
</p>
        <%= link_to 'HOme', brands_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
